.main {
	background: var(--light);
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
	z-index: 2;
}

.title {
	font-family: Grtsk Tera;
	font-weight: 500;
	font-size: 48px;
	line-height: 130%;
	letter-spacing: 0%;
	vertical-align: middle;
	color: var(--black);
}

.slider {
	position: relative;
	width: 100vw;
	margin: 0 auto; /* Центрирует контейнер */
	padding-left: 0; /* Убираем стандартный отступ */
	width: 100%; /* Полный доступ к ширине экрана */
	margin-left: calc((100vw - 1200px) / 2);
	margin-top: 80px;
}

.slider_item {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 40px;
	max-width: 1000px;
}

.slider_texts {
	max-width: 480px;
	padding-top: 100px;
}

.slider_item_index {
	font-family: Grtsk Tera;
	font-weight: 300;
	font-style: italic;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0%;
	vertical-align: middle;
	color: var(--text-gray);
}

.slider_item_title {
	margin-top: 20px;
	font-family: Manrope;
	font-weight: 500;
	font-size: 24px;
	line-height: 150%;
	letter-spacing: 0%;
	vertical-align: middle;
	color: var(--black);
}

.slider_item_descr {
	margin-top: 20px;
	font-family: Manrope;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0%;
	vertical-align: middle;
	color: var(--text-gray);
}

.slider_view {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #e1e1e1;
	padding: 100px 60px 64px 60px;
}

.slider_images img {
	width: 100%;
	height: 100%;
	min-height: 360px;
}

.slider_switch {
	display: flex;
	max-width: 286px;
	width: 100%;
	background-color: #f6f5f4;
	border-radius: 8px;
	padding: 2px;
	margin-top: 80px;
}

.slider_switch span {
	display: block;
	font-family: Manrope;
	font-weight: 500;
	font-size: 12px;
	line-height: 150%;
	letter-spacing: 0%;
	text-align: center;
	vertical-align: middle;
	color: var(--black);
	width: 140px;
	padding: 12px;
	cursor: pointer;
	border-radius: 8px;
	transition: all 0.3s;
}

.slider_switch_active {
	background-color: var(--primary);
	color: var(--light) !important;
}

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #d0d1d1;
	cursor: pointer;
}

.prev,
.next {
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
	left: -50px;
	z-index: 2;
	background-color: var(--light);
}

.next {
	left: auto;
	right: calc((100vw - 1150px) / 2);
}

@media (max-width: 1380px) {
	.sliderContainer {
		margin-left: 0px;
	}
	.prev {
		left: 0px;
	}
}

@media (max-width: 1250px) {
	.next {
		right: 50px;
	}
	.title {
		padding: 0px 20px;
	}
	.slider {
		margin-top: 40px;
		margin-left: 20px;
	}
}

@media (max-width: 768px) {
	.main {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.slider {
		padding-left: 20px;
		padding-right: 20px;
	}
	.slider_item {
		flex-direction: column;
		max-width: 400px;
	}
	.slider_texts {
		padding-top: 40px;
		max-width: 400px;
	}
	.slider_view {
		padding: 20px;
	}
}

@media (max-width: 500px) {
	.slider {
		padding-left: 20px;
		padding-right: 0px;
	}
	.slider_item {
		flex-direction: column;
		max-width: 350px;
	}
	.slider_texts {
		max-width: 350px;
	}
	.slider_item_index {
		font-weight: 300;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0%;
	}
	.slider_item_title {
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
		letter-spacing: 0%;
		vertical-align: middle;
	}
	.slider_item_descr {
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0%;
		vertical-align: middle;
		margin-top: 16px;
	}
	.slider_switch {
		margin-top: 20px;
	}
	.slider_images img {
		width: 255px;
		height: 252px;
		min-height: auto;
	}
}
