.main {
	height: 3800px;
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: var(--light);
	position: relative;
	overscroll-behavior: contain;
	min-block-size: 0;
	z-index: 5;
}

/* .wrapper { */
/* position: sticky; */
/* top: 0px; */
/* }  */

.title {
	font-family: Grtsk Tera;
	font-weight: 500;
	font-size: 48px;
	line-height: 62.4px;
	letter-spacing: 0%;
	text-align: center;
	color: var(--black);
}

.title.fixed {
	position: fixed;
	top: 150px;
	z-index: 5;
}

.description {
	font-family: Manrope;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: center;
	color: var(--text-gray);
	max-width: 700px;
	width: 100%;
	margin: 0px auto;
	margin-top: 40px;
}

.block {
	display: flex;
	align-items: flex-start;
	gap: 120px;
	margin-top: 80px;
	opacity: 0;
	position: absolute;
	top: 120px;
	background: var(--light);
}

.block_texts {
	max-width: 540px;
	width: 100%;
}

.step {
	font-family: Grtsk Tera;
	font-weight: 300;
	font-style: italic;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0%;
	color: var(--text-gray);
	margin-top: 90px;
}

.subtitle {
	font-family: Manrope;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0%;
	color: var(--black);
	margin-top: 20px;
}

.text {
	font-family: Manrope;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0%;
	color: var(--text-gray);
	margin-top: 20px;
}

@media (max-width: 1100px) {
	.block {
		gap: 40px;
	}
}

@media (max-width: 860px) {
	.block {
		flex-direction: column;
		padding: 0px 20px;
	}
	.block_texts {
		max-width: 100%;
		width: 100%;
		order: 2;
	}
	.image {
		order: 1;
		width: 100%;
		object-fit: cover;
		margin: 0px auto;
		border-radius: 12px;
	}
	.step {
		margin-top: 0px;
	}
}

@media (max-width: 500px) {
	.title {
		font-weight: 500;
		font-size: 24px;
		line-height: 130%;
		letter-spacing: 0%;
	}
	.description {
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0%;
		margin-top: 24px;
	}
	.block {
		margin-top: 30px;
		gap: 32px;
	}
	.image {
		max-height: 350px;
	}
	.step {
		font-weight: 300;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0%;
	}
	.subtitle {
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
		letter-spacing: 0%;
		margin-top: 16px;
	}
	.text {
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0%;
		margin-top: 16px;
	}
}
