.main {
	min-height: 100vh;
	height: 400vh;
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: var(--light);
	position: relative;
	overscroll-behavior: contain;
	min-block-size: 0;
	z-index: 5;
}

/* .wrapper { */
/* position: sticky; */
/* top: 0px; */
/* }  */

.title {
	font-family: Grtsk Tera;
	font-weight: 500;
	font-size: 48px;
	line-height: 62.4px;
	letter-spacing: 0%;
	text-align: center;
	color: var(--black);
}

.title.fixed {
	position: fixed;
	top: 150px;
	z-index: 5;
}

.description {
	font-family: Manrope;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: center;
	color: var(--text-gray);
	max-width: 700px;
	width: 100%;
	margin: 0px auto;
	margin-top: 40px;
}

.block {
	display: flex;
	align-items: flex-start;
	gap: 120px;
	margin-top: 80px;
}

.block_texts {
	max-width: 540px;
	width: 100%;
}

.step {
	font-family: Grtsk Tera;
	font-weight: 300;
	font-style: italic;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0%;
	color: var(--text-gray);
	margin-top: 90px;
}

.subtitle {
	font-family: Manrope;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0%;
	color: var(--black);
	margin-top: 20px;
}

.text {
	font-family: Manrope;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0%;
	color: var(--text-gray);
	margin-top: 20px;
}
