.main {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: var(--light);
	position: relative;
	z-index: 2;
}

.title {
	font-family: Grtsk Tera;
	font-weight: 500;
	font-size: 48px;
	line-height: 62.4px;
	letter-spacing: 0%;
	text-align: center;
	color: var(--black);
}

.description {
	font-family: Manrope;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: center;
	color: var(--text-gray);
	max-width: 700px;
	width: 100%;
	margin: 0px auto;
	margin-top: 48px;
}

.slider {
	margin-top: 80px;
	max-height: 680px;
	height: 630px;
	padding: 0px 10px;
}

@media (max-width: 1200px) {
	.slider {
		height: 550px;
	}
}

@media (max-width: 730px) {
	.main {
		padding-top: 0px;
		padding-bottom: 30px;
	}
	.slider {
		height: 450px;
	}
}

@media (max-width: 500px) {
	.title {
		font-weight: 500;
		font-size: 24px;
		line-height: 130%;
		letter-spacing: 0%;
		padding: 0px 20px;
	}
	.description {
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0%;
		margin-top: 24px;
		padding: 0px 20px;
	}
	.slider {
		margin-top: 48px;
	}
}
