@font-face {
	font-family: 'Grtsk Tera';
	src: url('/fonts/GrtskTera-Medium.woff2') format('woff2'),
		url('/fonts/GrtskTera-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Grtsk Tera';
	src: url('/fonts/GrtskTera-Bold.woff2') format('woff2'),
		url('/fonts/GrtskTera-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Manrope', sans-serif;
}

:root {
	--light: #ffffff;
	--foreground: #171717;
	--primary: #14716b;
	--black: #292522;
	--text-gray: #5b5e5f;
	--bottom-gray: #f6f5f4;
	--stroke-gray: rgba(225, 225, 225, 1);
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--foreground);
	background: var(--light);
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}
