.main {
	background: var(--light);
	width: 100%;
	height: max-content;
	position: relative;
	z-index: 2;
	margin-top: 824px;
}

.wrapper {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: var(--light);
}
.title {
	font-family: Grtsk Tera;
	font-weight: 500;
	font-size: 48px;
	line-height: 62.4px;
	letter-spacing: 0%;
	text-align: center;
	color: var(--black);
}

.description {
	font-family: Manrope;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: center;
	color: var(--text-gray);
	max-width: 700px;
	width: 100%;
	margin: 0px auto;
	margin-top: 40px;
}

.slider {
	margin-top: 80px;
}

@media (max-width: 1200px) {
	.slider img {
		max-height: 600px;
	}
	.wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 1000px) {
	.slider img {
		max-height: 450px;
	}
}

@media (max-width: 500px) {
	.title {
		font-weight: 500;
		font-size: 24px;
		line-height: 130%;
	}
	.description {
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0%;
	}
	.slider img {
		max-height: 270px;
	}
}
