.main {
	padding: 120px 0px;
}

.title {
	font-family: Grtsk Tera;
	font-weight: 500;
	font-size: 48px;
	line-height: 62.4px;
	letter-spacing: 0%;
	color: var(--black);
}

.content {
	margin-top: 80px;
}

.select {
	max-width: 240px;
}

.video {
	width: 100%;
	height: 484px;
}

.video iframe {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	border: none !important;
	margin-top: 34px;
}
