.footer {
	padding-top: 80px;
	border-top: 1px solid var(--stroke-gray);
	background-color: var(--light);
	position: relative;
	z-index: 2;
}

.contact {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 80px;
}

.contact_right {
}

.logo {
	margin-bottom: 60px;
}

.contact_text {
	font-family: Manrope;
	margin-top: 20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0%;
	color: var(--black);
}

.contact_text span {
	color: var(--text-gray);
}

.bottom {
	position: relative;
	z-index: 5;
	background-color: var(--bottom-gray);
	padding: 14px;
	text-align: center;
}

.bottom p {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0%;
	color: var(--black);
}

@media (max-width: 1200px) {
	.footer {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 830px) {
	.contact {
		flex-direction: column;
	}
	.contact_right {
		margin-top: 50px;
	}
}

@media (max-width: 500px) {
	.footer {
		padding-top: 40px;
	}
	.logo {
		margin-bottom: 40px;
	}
	.contact_text {
		margin-top: 14px;
	}
}
