.main {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: var(--light);
	position: relative;
	z-index: 2;
	padding-left: 10px;
	padding-right: 10px;
}

.title {
	font-family: Grtsk Tera;
	font-weight: 500;
	font-size: 48px;
	line-height: 130%;
	letter-spacing: 0%;
	text-align: center;
	vertical-align: middle;
	color: var(--black);
}

.descr {
	font-family: Manrope;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0%;
	text-align: center;
	vertical-align: middle;
	color: var(--text-gray);
	max-width: 700px;
	width: 100%;
	margin: 0px auto;
	margin-top: 32px;
}

.image {
	width: 100%;
	max-width: 1440px;
	margin: 0px auto;
	height: 630px;
	margin-top: 60px;
}

.image img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	object-fit: cover;
}

.block {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 20px;
}

.block_left,
.block_right {
	max-width: 480px;
	width: 100%;
}

.block_title {
	font-family: Manrope;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0%;
	vertical-align: middle;
	color: var(--text-gray);
}

.block_text {
	font-family: Manrope;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0%;
	vertical-align: middle;
	color: var(--text-gray);
}

.block_image {
	max-width: 420px;
	max-height: 580px;
}

.block_image img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

.subtitle {
	font-family: Manrope;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0%;
	vertical-align: middle;
	color: var(--black);
	margin-top: 80px;
}

.slider {
	margin-top: 40px;
	max-height: 374px;
}

.sliderContainer {
	position: relative;
	width: 100vw;
	margin: 0 auto; /* Центрирует контейнер */
	padding-left: 0; /* Убираем стандартный отступ */
	width: 100%; /* Полный доступ к ширине экрана */
	margin-left: calc((100vw - 1280px) / 2);
}

.swiper {
	margin-right: 0;
	width: 100vw;
	position: relative;
}

.slider_item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slider_title {
	font-family: Manrope;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0%;
	vertical-align: middle;
	color: var(--black);
	margin-top: 20px;
}

.slider_image img {
	border-radius: 8px;
	object-fit: cover;
}

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #d0d1d1;
	cursor: pointer;
}

.prev,
.next {
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
	left: -50px;
	z-index: 2;
	background-color: var(--light);
}

.next {
	left: auto;
	right: calc((100vw - 1150px) / 2);
}

.model {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 80px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	background-color: var(--light);
	position: relative;
	z-index: 5;
}

.model_image,
.rain {
	border-radius: 6px;
	width: 100%;
	max-width: 1440px;
	object-fit: cover;
}

.rain {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}

.model_switch {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 50px;
	background-color: var(--light);
	border-radius: 8px;
	padding: 8px 12px;
}

.icon {
	cursor: pointer;
}

.switch {
	height: 20px;
}

.switch input[type='checkbox'] {
	height: 0;
	width: 0;
	visibility: hidden;
}

.switch label {
	cursor: pointer;
	text-indent: -9999px;
	width: 36px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 24px;
	position: relative;
	margin-top: -18px;
}

.switch label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 16px;
	height: 16px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.switch input:checked + label {
	background: var(--primary);
}

.switch input:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.switch label:active:after {
	width: 18px;
}

@media (max-width: 1380px) {
	.sliderContainer {
		margin-left: 0px;
	}
	.prev {
		left: 0px;
	}
}

@media (max-width: 1250px) {
	.next {
		right: 0px;
	}
}

.slider {
	height: 550px;
}

@media (max-width: 768px) {
	.main {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.model {
		padding-top: 40px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.image {
		margin-top: 40px;
	}
	.image img {
		object-fit: cover;
	}
	.block {
		flex-direction: column;
	}
	.block_left,
	.block_right {
		display: flex;
		flex-direction: column;
		max-width: 100%;
	}
	.block_image {
		max-width: 100%;
		height: 450px;
		overflow: hidden;
	}
	.block_image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.block_right .block_image {
		order: 3;
		margin-top: 40px;
	}
}

@media (max-width: 500px) {
	.main {
		padding-left: 20px;
		padding-right: 20px;
	}
	.title {
		font-weight: 500;
		font-size: 24px;
		line-height: 130%;
		letter-spacing: 0%;
	}
	.descr {
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0%;
		margin-top: 16px;
	}
	.block_image {
		height: 350px;
	}
	.sliderContainer .arrow {
		display: none;
	}
	.model_image,
	.rain {
		height: 450px;
	}
	.model_switch {
		bottom: 20px;
	}
}
